* {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

body {
  min-height: 100vh;
  font-size: 5rem;
  display: grid;
  place-content: center;
}

section{
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

input, button {
  font-family: inherit;
  font-size: 2.75rem;
  font-weight: 200;
  line-height: 0.5rem;
  background-color: transparent;
  border: 1px solid #DDD;
  outline: 0;
  width: fit-content;
  height: fit-content;
  padding: 30px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-sizing: border-box;
  text-align: center;
  color: "#222222";
}

div{
  display: flex;
  flex-direction: row;
  width: 300px;
  justify-content: space-between;
  height: fit-content;
}